**0~100번 문제**

# 파이썬 시작하기

In [1]:
print('hello world')

hello world

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('C:\Windows')
# 경로 설정할 때 백슬래시가 이스케이프문자로 인식되지 않게 슬래시 (/)를 써도 경로로 인식이 됨

C:\Windows

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# 줄을 바꾸는 이스케이프코드 \n 을 활용하여 줄을 바꿈
# 탭 \t 로 들여쓰기 할 수 있음

안녕하세요.
만나서		반갑습니다.

In [6]:
print ("오늘은", "일요일")
# 여러 값 출력 시 쉼표(,)로 구분

오늘은 일요일

In [19]:
a = ';'
a.join(['naver', 'kakao', 'sk', 'samsung'])
# join 또는 sep 함수를 통해 원하는 변수 삽입 가능

'naver;kakao;sk;samsung'

In [9]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [13]:
print("first", end=""); print("second")
# end="" 활용하여 줄바꿈 없이 출력

firstsecond

In [15]:
print(5/3)

1.6666666666666667

# 파이썬 변수

In [27]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)
# 변수 지정할 때 띄어쓰기 주의하기

500000

In [36]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))
#정수 int, 실수 float 표현

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [39]:
s = "hello"
t = "python"
print(s+'!', t)
# 공백 없이 문자를 붙이려면 + 활용

hello! python

In [42]:
print(2+2*3)

8

In [44]:
a = "132"
print(type(a))
# "정수"를 문자열 str 로 반환

<class 'str'>

In [58]:
num_str = "720"
print(int(num_str))

720

In [61]:
#int 말고 float로 변환해보고 연산값을 출력하여 제대로 되었는지 확인
num_str = "720"
num_float = float(num_str)
print(num_float+0.01, type(num_float))

720.01 <class 'float'>

In [6]:
# "정수"를 문자열 str 로 반환
num = 100
print(str(num))

100

In [8]:
#문자열을 실수(float)로 반환
print(float('15.79'))

15.79

In [9]:
#문자열>정수 변환 후 최근 3년의 연도 출력
year = "2020"
a = int(year)
print(a+1,a+2,a+3)

2021 2022 2023

In [10]:
m = 48584
p = 36
print(m*p)

1749024

# 파이썬 문자열

In [15]:
# 1,3번째 문자열 출력 (인덱싱) > 인덱싱은 각각의 요소로 매칭
letters = 'python'
print(letters[0],letters[2])

p t

In [21]:
# 문자열 뒷자리 정수 출력 (슬라이싱:여러 글자 가져오기) 
# > 범위 [start index : endindex+1]
license_plate = "24가 2210"
print(license_plate[4:8])

2210

In [25]:
# 문자열 뒷자리 정수 출력 음수 표현 (뒤에서 -n번째:끝)
print(license_plate[-4:])

2210

In [31]:
#반복되는 문자 출력 (인덱싱)
string = "홀짝홀짝홀짝"
print(string[0]*3)

홀홀홀

In [35]:
#원하는 문자 출력 (시작:끝:오프셋 슬라이싱 활용 > 1칸 간격으로 출력)
print(string[::2])

홀홀홀

In [110]:
#문자열 순서 거꾸로 출력 
string = "PYTHON"
print(string[5]+string[4]+string[3]+string[2]+string[1]+string[0])

NOHTYP

In [70]:
#문자열 순서 거꾸로 출력 (시작:끝:오프셋 슬라이싱 활용 > 오프셋을 음수로 둠)
string = "PYTHON"
print(string[::-1])
print(string[-1:-7:-1])

NOHTYP
NOHTYP

In [99]:
#전화번호 하이푼 제거
print('010','1111','2222')

010 1111 2222

In [98]:
#전화번호 하이푼 제거 (replace 치환 활용) 
#변수.replace(old, new, count=-1, /) : count=-1 은 모든 사건을 치환함을 의미
print(phone_number.replace('-',' '))

010 1111 2222

In [107]:
#전화번호 하이푼 제거 (split + join 활용) 
a = phone_number.split('-')
b = ' '.join(a)
print(b)
print(' '.join(['010','1111','2222']))

010 1111 2222
010 1111 2222

In [118]:
#문자열 다루기 (공백지우기)
print(b.replace(' ',''))
print(''.join(a))

01011112222
01011112222

In [124]:
#도메인 출력 > 슬라이싱
url = "http://sharebook.kr"
print(url[-2:])

kr

In [128]:
#도메인 출력 > split 사용
url = "http://sharebook.kr"
split = url.split('.')
print(split[-1])

kr

In [129]:
#문자열(str) : '', "”(immutable object) 원본 변경 불가
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열이 할당(assignment) 메서드를 지원하지 않음

TypeError: 'str' object does not support item assignment

In [136]:
#문자열 대소문자 변경 시 replace 메서드 가능
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [137]:
#문자열은 변경할 수 없는 자료형이기 때문에 원본을 그대로 둔 채로 변경된 새로운 문자열 객체를 리턴
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [138]:
#문자열 합치기 (덧셈을 통해 문자열 연결)
a = "3"
b = "4"
print(a + b)

34

In [139]:
print("Hi" * 3)

HiHiHi

In [140]:
# '-' 80개 출력 
print('-'*80)

--------------------------------------------------------------------------------

In [144]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

## formatting

In [153]:
#★★ % formatting 활용 > 2개 이상 값을 넣을 경우 %(a,b)로 변수 지정, 각각 출력 
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d' %(name1,age1))
print('이름: %s 나이: %d' %(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [155]:
# 2개 이상 값을 넣을 경우 format( ) 메서드를 사용 
#  값출력 위치에 %대신 {}
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [157]:
#f-string을 사용 / 문자열 맨 앞 f를 넣고 {변수} 지정
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [164]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',','')))

5969782550

In [167]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [170]:
#strip 메서드로 공백제거
data = "   삼성전자    "
print(data.strip())

삼성전자

In [172]:
#upper 전체 대문자 변경
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [173]:
#lower 전체 소문자 변경
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [175]:
#capitalize 맨 앞글자 대문자 변경
string = 'hello'
print(string.capitalize())

Hello

In [181]:
#endswith 메서드를 사용해서 문자열이 'xlsx'로 끝나는지 확인 > true , false 값으로 반환
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [185]:
file_name.endswith('xlsx'or'xls')

True

In [187]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2021')

False

In [189]:
a = "hello world"
a.split()

['hello', 'world']

In [190]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [191]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [194]:
data = "039490     "
print(data.strip())
print(data.rstrip())

039490
039490

# 파이썬 리스트 (순서O, 수정가능한 자료구조)

In [216]:
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

In [212]:
#리스트에 요소 추가 : a.append(추가요소)
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [217]:
#리스트에 요소 추가 : a.insert(추가위치,추가요소)
movie_rank.insert(3,'배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [219]:
#리스트에 요소 추가 : a.insert(추가위치,추가요소)
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [221]:
#리스트에서 요소 삭제 : del a[삭제하고자 하는 문자의 위치]
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [222]:
#리스트에서 요소 삭제 : del a[삭제하고자 하는 문자의 위치] > 순서가 연속적이지 않으면 각각 삭제
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [224]:
# 두 리스트를 더하면 새로운 리스트 생성
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [226]:
#최댓값과 최솟값을 출력. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:',max(nums))
print('min:',min(nums))

max: 7
min: 1

In [228]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))
print(nums[0]+nums[1]+nums[2]+nums[3]+nums[4])

15
15

In [232]:
#데이터 개수 = len 함수 사용
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [235]:
#리스트 평균 = average 함수는 없음 (합계/개수)
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [2]:
#가격 정보만 출력, 슬라이싱
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [3]:
#홀수출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [4]:
#짝수출력
print(nums[1::2])

[2, 4, 6, 8, 10]

In [18]:
#역방향 출력 : 오프셋 또는 리버스 사용
nums = [1, 2, 3, 4, 5]
print(nums[::-1])
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [13]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [21]:
#join 활용
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [22]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [23]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [30]:
#문자열을 리스트로 분리 저장 (split 메서드)
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [33]:
#오름차순 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플 (순서O, 수정 불가능한 자료구조)

In [36]:
my_variable = ()
print(my_variable,type(my_variable))

() <class 'tuple'>

In [37]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [39]:
#하나의 정수값만 저장하면 int 로 인식하므로 요소가 1개더라도 쉼표를 입력해야 함
#마찬가지로 하나의 문자열만 저장하면 str 로 인식 
t= (1,)
print(t)

(1,)

In [44]:
#리스트는 값 변경, 삭제 등의 수정(assignment)을 지원하지만 튜플은 아님
t = (1, 2, 3)
t[0] = 'a'
print(t)

TypeError: 'tuple' object does not support item assignment

In [48]:
# 튜플은 괄호가 없어도 동작함
t = 1, 2, 3, 4
type(t)

tuple

In [53]:
# 중간 값 변경이 안되므로 새로 생성
t = ('a', 'b', 'c')

t=('A','b','c')
print(t)

('A', 'b', 'c')

In [55]:
# list로 변환 시 list() 입력
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [57]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [58]:
#튜플을 언팩킹하기 위해 또다른 변수명으로 튜플을 지정 
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [63]:
# 범위함수 range 활용
t = tuple(range(2,100,2))
print(t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [66]:
t = tuple(range(1,50,2))
print(t)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49)

# 파이썬 딕셔너리

In [9]:
#star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있음 > 좌측 8개의 값
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [13]:
#우측 8개의 값
a,b,*valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [16]:
#가운데 8개의 값
_,*valid_score,_= scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [17]:
#빈 딕셔너리
temp = {}
print(temp)

{}

In [23]:
a = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [24]:
#딕셔너리 요소 추가 
a['죠스바']=1200
a['월드콘']=1500
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [30]:
# 어떤 Key의 Value를 얻기 위해서 '딕셔너리변수명[Key]'를 사용
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:',ice['메로나'])

메로나 가격: 1000

In [31]:
#요소 수정
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [32]:
#요소 삭제 del a[key] 입력
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [33]:
# 딕셔너리에 매칭되는 key 가 없는 경우 에러
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [38]:
# value에는 변하는 값(list)이든, 변하지 않는 값(tuple)이든 모두 넣을 수 있음
inventory = {'메로나': [300,20],    
             '비비빅': [400,3],    
             '죠스바': [250,100]}
print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]} <class 'dict'>

In [41]:
#리스트 위치 지정 출력
print(inventory['메로나'][0],'원')

300 원

In [42]:
#리스트 위치 지정 출력
print(inventory['메로나'][1],'개')

20 개

In [43]:
#딕셔너리 요소 추가 
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [46]:
#key 값으로만 구성된 리스트를 생성 > list(변수.keys())
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [47]:
#value 값으로만 구성된 리스트를 생성 > list(변수.values())
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [48]:
#value들의 총합
print(sum(icecream.values()))

6700

In [54]:
#여러 개의 값을 한꺼번에 추가(update)
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [53]:
#여러 개의 값을 한꺼번에 추가(합집합 '|’사용)
print(icecream|new_product)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [66]:
#dict(zip(a,b)) 를 통해 2개의 튜플을 하나의 딕셔너리로 변환
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [73]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

**★101~200번 문제**

# if라는 키워드를 통해 분기문 만들기

In [27]:
# 참과 거짓을 나타내는 자료형 타입 bool
bool

bool

In [4]:
print(3 == 5)

False

In [5]:
print(3 < 5)

True

In [6]:
x = 4
print(1 < x < 5)

True

In [19]:
# 3 은 3과 같고, 4는 3과 같지 않다. 
print ((3 == 3) and (4 != 3))

True

In [23]:
# => 가 아닌 >= 로 부등호를 표현할것
print(3 >= 4)

False

In [25]:
#조건을 만족하지 않아 아무 결과도 출력되지 않음
if 4 < 3:
    print("Hello World")

In [28]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [32]:
#조건문이 true 이므로 항상 참이 되어 출력 + 조건에 상관없이 4도 출력
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [33]:
# 참 조건문 내 거짓 결과는 총 3개 (1,2,4) 제외하고 출력
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [42]:
#오답...;;; 즈려밟고 지나가세용 ^^ >>>> 
안녕하세요 = True
if 안녕하세요:
    print('안녕하세요'*2)

안녕하세요안녕하세요

In [43]:
#사용자로부터 입력받은 문자열을 두 번 출력하라.
user = input("입력:")
print(user * 2)

입력:와썹!!!
와썹!!!와썹!!!

In [46]:
#사용자의 숫자 입력을 받아들일 때 int(input())
user = int(input("숫자를 입력하세요:"))
print(user + 10)

숫자를 입력하세요:30
40

In [49]:
user = int(input("짝수일까요? 홀수일까요?:"))
if user % 2 == 0:
    print('짝수입니다!짝짝!')
else:
    print('홀수입니다!홀롤롤롤로!')

짝수일까요? 홀수일까요?:25
홀수입니다!홀롤롤롤로!

In [53]:
# user+20 변수지정을 num으로 해주는 게 깔끔했을 듯
user = int(input('입력값:'))
if user + 20 <= 255:
    print(user + 20)
else : 
    print(255)

200
220

In [56]:
#조건이 3개 이상일 땐 웬만하면 elif 사용
user = int(input('입력값:'))
num = user - 20
if num < 0:
    print(0)
elif num > 255:
    print(255)
else:
    print(num)

입력값:280
255

In [63]:
#사용자로부터 입력 받은 시간이 정각인지 판별
# user[3:] 보다는 user[-2:]가 더 나을듯
user = input('현재시간: ')
if user[3:] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

현재시간: 11:30
정각이 아닙니다.

In [62]:
fruit = ["사과", "포도", "홍시"]
user = input('좋아하는 과일은?: ')
if user in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은?: 감귤
오답입니다.

In [66]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input('종목명: ')
if user in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

종목명: Google
투자 경고 종목입니다.

In [81]:
# 딕셔너리 키 일치
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 계절은?: ')
if user in fruit:
    print('정답입니다')
else:
    print('오답입니다')

제가 좋아하는 계절은?: 가을
정답입니다

In [82]:
# 딕셔너리 값 일치 
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input('제가 좋아하는 과일은?: ')
if user in fruit.values():
    print('정답입니다')
else:
    print('오답입니다')

제가 좋아하는 과일은?: 사과
정답입니다

In [77]:
# 힌트 : islower() 함수는 문자의 소문자 여부를 판별합니다.
user = input('')
if user.islower() == True :
    print(user.upper())
else:
    print(user.lower())

google
GOOGLE

In [85]:
user = int(input('score:'))
if 80<user<=100:
    print('grade is A')
elif 60<user<=80:
    print('grade is B')
elif 40<user<=60:
    print('grade is C')
elif 20<user<=40:
    print('grade is D')
else:
    print('grade is E')

score:45
grade is C

In [89]:
#오답 
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input('입력: ')
if user == 환율['달러']: 
    print(int(user)*1167,'원')
elif user == 환율['엔']: 
    print(int(user)*1.096,'원')
elif user == 환율['유로']: 
    print(int(user)*1268,'원')
else:
    print(int(user)*171,'원')

입력: 100 달러

ValueError: invalid literal for int() with base 10: '100 달러'

In [93]:
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input('입력: ')
num, currency = user.split() #앞 숫자를 num, '달러'등 문구를 환율로 지정하여 split
print(float(num) * 환율[currency], '원')

입력: 200 엔
219.20000000000002 원

In [100]:
# 3개의 숫자를 입력하여 가장 큰 값 출력
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2>= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 31
input number2: 31
input number3: 20
31

In [103]:
user = input('휴대전화 번호 입력:')
tel = user.split('-')[0]
if tel == '011':
    print('당신은 SKT 사용자입니다.')
elif tel == '016':
    print('당신은 KT 사용자입니다.')
elif tel == '019':
    print('당신은 LGU 사용자입니다.') 
else:
    print('알 수 없음')

휴대전화 번호 입력:016-352-244
당신은 KT 사용자입니다.

In [106]:
#f 문자열로 깔끔하게 수정하기 
user = input('휴대전화 번호 입력:')
tel = user.split('-')[0]
if tel == '011':
   com = 'SKT'
elif tel == '016':
   com = 'KT'
elif tel == '019':
   com = 'LGU'
else:
   com = '알 수 없는'
print(f'당신은 {com} 사용자입니다.')

휴대전화 번호 입력:010-3555-2545
당신은 알 수 없는 사용자입니다.

In [122]:
#기존 오류 : user = int(input('우편번호')) / gu = user[2]
#변수의 타입이 숫자형이면 인덱스 사용이 불가능 > 
#인덱스 사용이 가능하게 user 변수의 타입을 string으로 유지시키고 int를 gu에서 실행하는 것이 합리적 
#list보다는 string 타입이 특정 음절을 떼어내기에 적절함
user = input('우편번호:')
gu = int(user[2])
if gu>= 0 and gu<=2:
    print('강북구')
elif gu>=3 and gu<=5:
    print('도봉구')
else:
    print('노원구')

우편번호:01920
노원구

In [120]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01625
도봉구

In [134]:
# gender == 1 or 3 이 아닌 gender ==1 or gender ==3 으로 따로 지정해줘야 함
user = input("주민등록번호: ")
gender = int(user.split('-')[1][0])
if gender == 1 or gender == 3:
    print('남자')
elif gender == 2 or gender == 4:
    print('여자')
else:
    print('유효한 성별이 아닙니다.')

주민등록번호: 991220-3198521
남자

In [147]:
user = input("주민등록번호: ")
adr = user.split('-')[1][1:3]
if 0<=int(adr)<=8:
    print('서울입니다')
else: 
    print('서울이 아닙니다')

주민등록번호: 991220-3098521
서울이 아닙니다

In [143]:
user = input("주민등록번호: ")
adr = user.split('-')[1][1:3]
if adr in ['00','01','02','03','04','05','06','07','08']:
    print('서울입니다')
else: 
    print('서울이 아닙니다')

주민등록번호: 991220-3088521
서울입니다

In [33]:
#129번 답안 참고
num = input("주민등록번호: ")
sum_id = int(num[0])*2 + int(num[1])*3 + int(num[2])*4 + int(num[3])*5 + int(num[4])*6 + int(num[5])*7 + int(num[7])*8 + int(num[8])*9 + int(num[9])*2 + int(num[10])*3 +int(num[11])*4 + int(num[12])*5 
result = 11 - (sum_id%11)

if num[-1] == str(result): #num[-1]은 문자열 번호이기 때문에 결과값의 타입을 맞춰줌
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 680901-2468721
유효하지 않은 주민등록번호입니다.

In [43]:
#129번 혼자 해보기
user = input("주민등록번호: ")
    #주민등록번호 12자리와 각 자리수별 가중치를 곱하여 더하기
for i in range(12):
    sum_id = sum(int(user[i])*(i+2))
result=11-(sum_id%11)
if result == int(user[-1]):
    print('유효한 주민등록번호입니다')
else:
    print('유효하지 않은 주민등록번호입니다')

주민등록번호: 931011-2178211

TypeError: 'int' object is not iterable

In [53]:
#비트코인의 가격 정보를 딕셔너리로 가져오는 코드
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price'])-float(btc['min_price'])
결과 = float(btc['opening_price']) + 변동폭

if 결과  > float(btc['max_price']) : 
    print('상승장')
else : 
    print('하락장')

상승장

# 파이썬 반복문 (for, while)

In [54]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과 , 귤 , 수박 출력

사과
귤
수박

In [55]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")
#과일 리스트에 있는 각 항목에 대해 반복문 실행 > 항목당 ##### 출력

#####
#####
#####

In [60]:
for 변수 in ["A", "B", "C"]:
    print(변수)
        
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C
A
B
C

In [75]:
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)
    
print('='*50)

code = ["A", "B", "C"]
i = 0
while i < len(code):
    print('출력:',code[i])
    i += 1

출력: A
출력: B
출력: C
==================================================
출력: A
출력: B
출력: C

In [78]:
# 리스트에서는 .lower() 메서드를 직접 사용할 수 없으며, .lower()는 문자열에만 사용 가능 
# 따라서 for 문에서 변수를 한 번 정의(문자열)하고 나서 소문자 변환 후 각 요소를 출력해야 함 
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)
    
print('='*50)

변수 = ["A", "B", "C"]
i = 0
while i < len(변수):
    소문자 = 변수[i].lower()
    print('변환:',소문자)
    i += 1
    
print('='*50)

def 소문자출력(리스트):
    for 변수 in 리스트:
        소문자 = 변수.lower()
        print('변환:',소문자)
변수 = ["A", "B", "C"]
소문자출력(변수)

변환: a
변환: b
변환: c
==================================================
변환: a
변환: b
변환: c
==================================================
변환: a
변환: b
변환: c

In [86]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
print('='*50)

for 변수 in [10,20,30]:
    print(변수)

10
20
30
==================================================
10
20
30

In [87]:
print(10)
print(20)
print(30)

리스트 = [10,20,30]
for 변수 in 리스트:
    print(변수)

10
20
30
10
20
30

In [91]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for 변수 in [10,20,30]:
    print(변수,'\n-------')

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [93]:
#for문은 반복되는 코드에만 사용
print("++++")
print(10)
print(20)
print(30)

print("++++")
for 변수 in [10,20,30]:
    print(변수)

++++
10
20
30
++++
10
20
30

In [103]:
print("-------")
print("-------")
print("-------")
print("-------")

for 변수 in ['a','b','c','d']:
    print("-------")
    
for 변수 in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------

In [108]:
리스트 = [100, 200, 300]
for 부가세 in 리스트:
    print(부가세+10)

110
210
310

In [114]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print('오늘의 메뉴:',메뉴)
    
for 메뉴 in 리스트:
    print('오늘의 메뉴: '+메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [117]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 길이 in 리스트 :
    print(len(길이))

6
4
4

In [119]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물,len(동물))

dog 3
cat 3
parrot 6

In [121]:
# 첫 글자만 추출
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [124]:
리스트 = [1, 2, 3]
for i in 리스트:
    print('3 x',i)

3 x 1
3 x 2
3 x 3

In [131]:
리스트 = [1, 2, 3]
for i in 리스트: 
    print('3 x',i,'=',3*i)
#문자열 함수로 변환 후 출력 
for i in 리스트:    
    print('3 x {} = {}'.format(i,3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [137]:
# for문 자료구조 자리에 리스트 슬라이싱 코드도 작성 가능 
리스트 = ["가", "나", "다", "라"]
for 나다라 in 리스트[1:]:
    print(나다라)

나
다
라

In [143]:
리스트 = ["가", "나", "다", "라"]
for 가다 in 리스트[::2]:
    print(가다)
    
리스트 = ["가", "나", "다", "라"]
for 가다 in 리스트[0],리스트[2]:
    print(가다)

가
다
가
다

In [160]:
리스트 = ["가", "나", "다", "라"]
리스트.reverse()
for 거꾸로 in 리스트:
    print(거꾸로)
    
리스트 = ["가", "나", "다", "라"]
for 거꾸로 in 리스트[::-1]:
    print(거꾸로)

라
다
나
가
라
다
나
가

In [162]:
#리스트 음수 출력 
리스트 = [3, -20, -3, 44]
for 음수 in 리스트:
    if 음수 < 0 :
        print(음수)
    else:
        pass

-20
-3

In [168]:
리스트 = [3, 100, 23, 44]
for 삼배수 in 리스트:
    if 삼배수 % 3 ==0: print(삼배수)
    else: pass
    
#else: pass 는 생략해도 됨

3

In [170]:
리스트 = [13, 21, 12, 14, 30, 18]
for 삼배수 in 리스트:
    if 삼배수 %3==0 and 삼배수 <20:
        print(삼배수)

12
18

In [175]:
#3글자 이상인 문자열만 출력
리스트 = ["I", "study", "python", "language", "!"]
for 문자 in 리스트: 
    if len(문자) >= 3 : print(문자)

study
python
language

In [180]:
리스트 = ["A", "b", "c", "D"]
for 대문자 in 리스트:
    if 대문자 == 대문자.upper():
        print(대문자)
        
리스트 = ["A", "b", "c", "D"]
for 대문자 in 리스트:
    if 대문자.isupper() == True:
        print(대문자)
        
리스트 = ["A", "b", "c", "D"]
for 대문자 in 리스트:
    if 대문자.isupper() :
        print(대문자)

A
D
A
D
A
D

In [186]:
리스트 = ["A", "b", "c", "D"]
for 소문자 in 리스트:
    if 소문자.islower() :print(소문자)
        
for 소문자 in 리스트:
    if 소문자.isupper() == False: print(소문자)
        
for 소문자 in 리스트:
    if 소문자.isupper() != True: print(소문자)
        
for 소문자 in 리스트:
    if not 소문자.isupper() : print(소문자)

b
c
b
c
b
c
b
c

In [189]:
리스트 = ['dog', 'cat', 'parrot']
for 대문자 in 리스트:
    print(대문자[0].upper()+대문자[1:])

Dog
Cat
Parrot

In [193]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 파일 in 리스트:
    print(파일.split('.')[0])

hello
ex01
intro

In [195]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 확장자 in 리스트:
    if 확장자.split('.')[1] == 'h':
        print(확장자)

intra.h
define.h

In [197]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    확장자 = 변수.split('.')[1]
    if 확장자 == 'h' or 확장자 == 'c':
        print(변수)

intra.h
intra.c
define.h

In [209]:
#for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for 변수 in range(0,100):
    print(변수, end='   ')

0   1   2   3   4   5   6   7   8   9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35   36   37   38   39   40   41   42   43   44   45   46   47   48   49   50   51   52   53   54   55   56   57   58   59   60   61   62   63   64   65   66   67   68   69   70   71   72   73   74   75   76   77   78   79   80   81   82   83   84   85   86   87   88   89   90   91   92   93   94   95   96   97   98   99

In [213]:
#range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력
#range의 세번 째 파라미터는 증감폭을 결정
for 월드컵 in range(2002,2051,4):
    print(월드컵)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [218]:
#1부터 30까지의 숫자 중 3의 배수를 출력하라.
for 삼배수 in range(1,31):
    if 삼배수 % 3 == 0:
        print(삼배수)
        
for 삼배수 in range(3,31,3):
    print(삼배수)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

In [223]:
#99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(100):
    print(99-i,end = '  ')

99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1  0

In [6]:
for i in range(10):
    print(float(i/10))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [9]:
for i in range(1,10):
    print('3 x {} = {}'.format(i,3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [11]:
for i in range(1,10,2):
    print('3 x {} = {}'.format(i,3*i))
    
for i in range(1,10):
    if i % 2 ==1 : 
        print('3 x {} = {}'.format(i,3*i))

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27
3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [23]:
합 =0
for i in range(1,11):
    합 += i # i 를 더한 값들을 누적시키고 최종 값만 출력
print('합 : ',합)

합 :  55

In [27]:
합 =0
for i in range(1,11,2):
    합 += i # i 를 더한 값들을 누적시키고 최종 값만 출력
print('합 : ',합)

합 =0
for i in range(1,10):
    if i % 2 ==1 : 
        합 += i
print('합 : ',합)

합 :  25
합 :  25

In [39]:
곱 = 1
for i in range(1,11):
    곱 *= i
print('곱 : ',곱)

곱 :  3628800

In [43]:
#인덱스를 range 함수에서 반복해도 됨 / 다만 리스트의 크기가 변하면 수정해야 함 
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [44]:
for i in range(4):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [47]:
for i in range(4):
    print(3-i,price_list[i])
    
for i in range(len(price_list)):
    print(len(price_list)-1-i,price_list[i])

3 32100
2 32150
1 32000
0 32500
3 32100
2 32150
1 32000
0 32500

In [52]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[1:])

[32150, 32000, 32500]
[32150, 32000, 32500]
[32150, 32000, 32500]
[32150, 32000, 32500]

In [58]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    if i != 0 :
        print(100+(i*10)-10, price_list[i])

100 32150
110 32000
120 32500

In [62]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+i*10 , price_list[i])

100 32150
110 32000
120 32500

In [69]:
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i],my_list[i+1])
    
for i in range( 1, len(my_list) ) :
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라
가 나
나 다
다 라

In [74]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])
    
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마

In [94]:
my_list = ["가", "나", "다", "라"]
print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])


for i in range(3):
    print(my_list[3-i],my_list[2-i])
    
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가
라 다
다 나
나 가

In [101]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [107]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [116]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[] #변동폭을 저장할 리스트 초기화
for low, high in zip(low_prices,high_prices):
    volatility.append(high-low)
print(volatility)

[50, 100, 30, 80, 0]

In [117]:
#하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트
apart = [['101호','102호'],['201호', '202호'],['301호', '302호']]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [123]:
#열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트
stock = [['시가',100,200,300],['종가',80,210,330]]
print(stock[0][1])

100

In [128]:
stock = {'시가':[100,200,300],'종가':[80,210,330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [130]:
stock = {'10/10':[80,110,70,90],'10/11':[210,230,190,200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [135]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [139]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [140]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [144]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호\n-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [147]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [148]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [152]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [154]:
for i in data:
    for j in i:
        print(j*1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [157]:
result=[]
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [172]:
result=[]
for i in data:
    sub=[]
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [175]:
for row in result:
    print(row)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772]
[7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]
[15452.163, 15052.107, 15552.177, 14902.086000000001]

In [183]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for close in ohlc[1:]:
    print(close[3])

100
190
310

In [186]:
#종가가 150원보다 큰경우에만 종가를 출력
for close in ohlc[1:]:
    if close[3] > 150:
        print(close[3])

190
310

In [188]:
for price in ohlc[1:]:
    if price[3] >= price[0]:
        print(price[3])

100
310

In [190]:
volatility = []
for price in ohlc[1:]:
    volatility.append(price[1] - price[2])
print(volatility)

[40, 30, 10]

In [191]:
volatility = []
for i in range(1,len(ohlc)):
    volatility.append(ohlc[i][1] - ohlc[i][2])
print(volatility)

[40, 30, 10]

In [192]:
#종가가 시가보다 높은 날의 변동성 (고가 - 저가) 출력
for price in ohlc[1:]:
    if price[3] > price[0]:
        print(price[1]-price[2])

10

In [199]:
#시가 매수/종가 매도 수익금
for price in ohlc[1:]:
    profit += price[3]-price[0]
print(profit)

0

# 파이썬 함수

**201~240**

In [15]:
#201번def는 함수를 만들 때 사용하는 예약어 함수 이름은 임의로 생성
#함수 이름 뒤 괄호 안의 매개변수는 이 함수에 입력으로 전달되는 값을 받는 변수
#def 함수_이름(매개변수): 수행할_문장1
def print_coin():
    return '비트코인'
print(print_coin())

비트코인

In [17]:
def print_coin():
    print("비트코인")

In [27]:
#213 

def 함수(문자열) : 
    print(문자열)

In [34]:
#214
#파이썬에서는 두 피연산자가 같은 자료형이어야 하는데, 
#서로 다른 자료형(문자열과 정수)이기 때문에 type error가 발생함
def 함수(a, b) :
    print(a + b)
함수('안녕',3)

TypeError: can only concatenate str (not "int") to str

In [35]:
#위 문제에서 안녕3을 출력하고 싶으면 
def 함수(a, b) :
    print(str(a)+str(b))

함수('안녕',3)

안녕3

In [37]:
#위 문제에서 문자열과 정수의 곱셈은 가능함
def 함수(a, b) :
    print(a * b)

함수('안녕',3)

안녕안녕안녕

In [40]:
#218. 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.
def print_sum(a, b) :
    print(a+b)
print_sum(2,8)

10

In [44]:
#sum() 함수를 사용하려면, 숫자를 담고 있는 iterable(리스트, 튜플)을 만들어서 sum() 함수에 전달해야 함
def print_sum(a, b):
    result = sum([a, b])
    print(result)

print_sum(2,8)

10

In [46]:
def print_score (avg_score) :
    print(sum(avg_score)/len(avg_score))
print_score ([1, 2, 3])

2.0

In [47]:
def print_score(scores):
    if not scores:
        print("성적 리스트가 비어 있습니다.")
        return

    average = sum(scores) / len(scores)
    print(f"평균 성적: {average}")

scores = [1,2,3]
print_score(scores)

평균 성적: 2.0

In [49]:
#226번 
def print_5xn(string) :
    for i in range(len(string),5)
    print(i=i+5)

IndentationError: expected an indented block after function definition on line 2 (2285650904.py, line 3)