# 파이썬 시작하기

In [1]:
print('hello world')

hello world

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('C:\Windows')
# 경로 설정할 때 백슬래시가 이스케이프문자로 인식되지 않게 슬래시 (/)를 써도 경로로 인식이 됨

C:\Windows

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# 줄을 바꾸는 이스케이프코드 \n 을 활용하여 줄을 바꿈
# 탭 \t 로 들여쓰기 할 수 있음

안녕하세요.
만나서		반갑습니다.

In [6]:
print ("오늘은", "일요일")
# 여러 값 출력 시 쉼표(,)로 구분

오늘은 일요일

In [19]:
a = ';'
a.join(['naver', 'kakao', 'sk', 'samsung'])
# join 또는 sep 함수를 통해 원하는 변수 삽입 가능

'naver;kakao;sk;samsung'

In [9]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [13]:
print("first", end=""); print("second")
# end="" 활용하여 줄바꿈 없이 출력

firstsecond

In [15]:
print(5/3)

1.6666666666666667

# 파이썬 변수

In [27]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)
# 변수 지정할 때 띄어쓰기 주의하기

500000

In [36]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))
#정수 int, 실수 float 표현

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [39]:
s = "hello"
t = "python"
print(s+'!', t)
# 공백 없이 문자를 붙이려면 + 활용

hello! python

In [42]:
print(2+2*3)

8

In [44]:
a = "132"
print(type(a))
# "정수"를 문자열 str 로 반환

<class 'str'>

In [58]:
num_str = "720"
print(int(num_str))

720

In [61]:
#int 말고 float로 변환해보고 연산값을 출력하여 제대로 되었는지 확인
num_str = "720"
num_float = float(num_str)
print(num_float+0.01, type(num_float))

720.01 <class 'float'>

In [6]:
# "정수"를 문자열 str 로 반환
num = 100
print(str(num))

100

In [8]:
#문자열을 실수(float)로 반환
print(float('15.79'))

15.79

In [9]:
#문자열>정수 변환 후 최근 3년의 연도 출력
year = "2020"
a = int(year)
print(a+1,a+2,a+3)

2021 2022 2023

In [10]:
m = 48584
p = 36
print(m*p)

1749024

# 파이썬 문자열

In [15]:
# 1,3번째 문자열 출력 (인덱싱) > 인덱싱은 각각의 요소로 매칭
letters = 'python'
print(letters[0],letters[2])

p t

In [21]:
# 문자열 뒷자리 정수 출력 (슬라이싱:여러 글자 가져오기) 
# > 범위 [start index : endindex+1]
license_plate = "24가 2210"
print(license_plate[4:8])

2210

In [25]:
# 문자열 뒷자리 정수 출력 음수 표현 (뒤에서 -n번째:끝)
print(license_plate[-4:])

2210

In [31]:
#반복되는 문자 출력 (인덱싱)
string = "홀짝홀짝홀짝"
print(string[0]*3)

홀홀홀

In [35]:
#원하는 문자 출력 (시작:끝:오프셋 슬라이싱 활용 > 1칸 간격으로 출력)
print(string[::2])

홀홀홀

In [110]:
#문자열 순서 거꾸로 출력 
string = "PYTHON"
print(string[5]+string[4]+string[3]+string[2]+string[1]+string[0])

NOHTYP

In [70]:
#문자열 순서 거꾸로 출력 (시작:끝:오프셋 슬라이싱 활용 > 오프셋을 음수로 둠)
string = "PYTHON"
print(string[::-1])
print(string[-1:-7:-1])

NOHTYP
NOHTYP

In [99]:
#전화번호 하이푼 제거
print('010','1111','2222')

010 1111 2222

In [98]:
#전화번호 하이푼 제거 (replace 치환 활용) 
#변수.replace(old, new, count=-1, /) : count=-1 은 모든 사건을 치환함을 의미
print(phone_number.replace('-',' '))

010 1111 2222

In [107]:
#전화번호 하이푼 제거 (split + join 활용) 
a = phone_number.split('-')
b = ' '.join(a)
print(b)
print(' '.join(['010','1111','2222']))

010 1111 2222
010 1111 2222

In [118]:
#문자열 다루기 (공백지우기)
print(b.replace(' ',''))
print(''.join(a))

01011112222
01011112222

In [124]:
#도메인 출력 > 슬라이싱
url = "http://sharebook.kr"
print(url[-2:])

kr

In [128]:
#도메인 출력 > split 사용
url = "http://sharebook.kr"
split = url.split('.')
print(split[-1])

kr

In [129]:
#문자열(str) : '', "”(immutable object) 원본 변경 불가
lang = 'python'
lang[0] = 'P'
print(lang)
#문자열이 할당(assignment) 메서드를 지원하지 않음

TypeError: 'str' object does not support item assignment

In [136]:
#문자열 대소문자 변경 시 replace 메서드 가능
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [137]:
#문자열은 변경할 수 없는 자료형이기 때문에 원본을 그대로 둔 채로 변경된 새로운 문자열 객체를 리턴
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [138]:
#문자열 합치기 (덧셈을 통해 문자열 연결)
a = "3"
b = "4"
print(a + b)

34

In [139]:
print("Hi" * 3)

HiHiHi

In [140]:
# '-' 80개 출력 
print('-'*80)

--------------------------------------------------------------------------------

In [144]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

## formatting

In [153]:
#★★ % formatting 활용 > 2개 이상 값을 넣을 경우 %(a,b)로 변수 지정, 각각 출력 
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d' %(name1,age1))
print('이름: %s 나이: %d' %(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [155]:
# 2개 이상 값을 넣을 경우 format( ) 메서드를 사용 
#  값출력 위치에 %대신 {}
print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [157]:
#f-string을 사용 / 문자열 맨 앞 f를 넣고 {변수} 지정
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [164]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',','')))

5969782550

In [167]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [170]:
#strip 메서드로 공백제거
data = "   삼성전자    "
print(data.strip())

삼성전자

In [172]:
#upper 전체 대문자 변경
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [173]:
#lower 전체 소문자 변경
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [175]:
#capitalize 맨 앞글자 대문자 변경
string = 'hello'
print(string.capitalize())

Hello

In [181]:
#endswith 메서드를 사용해서 문자열이 'xlsx'로 끝나는지 확인 > true , false 값으로 반환
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [185]:
file_name.endswith('xlsx'or'xls')

True

In [187]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2021')

False

In [189]:
a = "hello world"
a.split()

['hello', 'world']

In [190]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [191]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [194]:
data = "039490     "
print(data.strip())
print(data.rstrip())

039490
039490

# 파이썬 리스트 (순서O, 수정가능한 자료구조)

In [216]:
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

In [212]:
#리스트에 요소 추가 : a.append(추가요소)
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [217]:
#리스트에 요소 추가 : a.insert(추가위치,추가요소)
movie_rank.insert(3,'배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [219]:
#리스트에 요소 추가 : a.insert(추가위치,추가요소)
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [221]:
#리스트에서 요소 삭제 : del a[삭제하고자 하는 문자의 위치]
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [222]:
#리스트에서 요소 삭제 : del a[삭제하고자 하는 문자의 위치] > 순서가 연속적이지 않으면 각각 삭제
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [224]:
# 두 리스트를 더하면 새로운 리스트 생성
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [226]:
#최댓값과 최솟값을 출력. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:',max(nums))
print('min:',min(nums))

max: 7
min: 1

In [228]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))
print(nums[0]+nums[1]+nums[2]+nums[3]+nums[4])

15
15

In [232]:
#데이터 개수 = len 함수 사용
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [235]:
#리스트 평균 = average 함수는 없음 (합계/개수)
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [2]:
#가격 정보만 출력, 슬라이싱
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [3]:
#홀수출력
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [4]:
#짝수출력
print(nums[1::2])

[2, 4, 6, 8, 10]

In [18]:
#역방향 출력 : 오프셋 또는 리버스 사용
nums = [1, 2, 3, 4, 5]
print(nums[::-1])
nums.reverse()
print(nums)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [13]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [21]:
#join 활용
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [22]:
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [23]:
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [30]:
#문자열을 리스트로 분리 저장 (split 메서드)
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [33]:
#오름차순 정렬
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플 (순서O, 수정 불가능한 자료구조)

In [36]:
my_variable = ()
print(my_variable,type(my_variable))

() <class 'tuple'>

In [37]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [39]:
#하나의 정수값만 저장하면 int 로 인식하므로 요소가 1개더라도 쉼표를 입력해야 함
#마찬가지로 하나의 문자열만 저장하면 str 로 인식 
t= (1,)
print(t)

(1,)

In [44]:
#리스트는 값 변경, 삭제 등의 수정(assignment)을 지원하지만 튜플은 아님
t = (1, 2, 3)
t[0] = 'a'
print(t)

TypeError: 'tuple' object does not support item assignment

In [48]:
# 튜플은 괄호가 없어도 동작함
t = 1, 2, 3, 4
type(t)

tuple

In [53]:
# 중간 값 변경이 안되므로 새로 생성
t = ('a', 'b', 'c')

t=('A','b','c')
print(t)

('A', 'b', 'c')

In [55]:
# list로 변환 시 list() 입력
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [57]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [58]:
#튜플을 언팩킹하기 위해 또다른 변수명으로 튜플을 지정 
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [63]:
# 범위함수 range 활용
t = tuple(range(2,100,2))
print(t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [66]:
t = tuple(range(1,50,2))
print(t)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49)

# 파이썬 딕셔너리

In [9]:
#star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있음 > 좌측 8개의 값
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [13]:
#우측 8개의 값
a,b,*valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [16]:
#가운데 8개의 값
_,*valid_score,_= scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [17]:
#빈 딕셔너리
temp = {}
print(temp)

{}

In [23]:
a = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [24]:
#딕셔너리 요소 추가 
a['죠스바']=1200
a['월드콘']=1500
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [30]:
# 어떤 Key의 Value를 얻기 위해서 '딕셔너리변수명[Key]'를 사용
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:',ice['메로나'])

메로나 가격: 1000

In [31]:
#요소 수정
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [32]:
#요소 삭제 del a[key] 입력
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [33]:
# 딕셔너리에 매칭되는 key 가 없는 경우 에러
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [38]:
# value에는 변하는 값(list)이든, 변하지 않는 값(tuple)이든 모두 넣을 수 있음
inventory = {'메로나': [300,20],    
             '비비빅': [400,3],    
             '죠스바': [250,100]}
print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]} <class 'dict'>

In [41]:
#리스트 위치 지정 출력
print(inventory['메로나'][0],'원')

300 원

In [42]:
#리스트 위치 지정 출력
print(inventory['메로나'][1],'개')

20 개

In [43]:
#딕셔너리 요소 추가 
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [46]:
#key 값으로만 구성된 리스트를 생성 > list(변수.keys())
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [47]:
#value 값으로만 구성된 리스트를 생성 > list(변수.values())
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [48]:
#value들의 총합
print(sum(icecream.values()))

6700

In [54]:
#여러 개의 값을 한꺼번에 추가(update)
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [53]:
#여러 개의 값을 한꺼번에 추가(합집합 '|’사용)
print(icecream|new_product)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [66]:
#dict(zip(a,b)) 를 통해 2개의 튜플을 하나의 딕셔너리로 변환
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [73]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}